<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 네임스페이스에 DAO 풀패키지명을 작성 -->
<mapper namespace="com.ssafy.ssafit.model.dao.RoutineDao">

	<!-- 전체 루틴 조회 -->
	<select id="selectAll" resultType="routine">
		SELECT * FROM Routine 
		ORDER BY id ASC;
	</select>
	
	<!-- 루틴 -> id 조회 -->
	<select id="selectOneByRoutine" resultType="routine" parameterType="Routine">
		SELECT * FROM Routine
		WHERE fitnessList = #{fitnessList}
		ORDER BY id ASC;
	</select>
	
	<!-- id -> 루틴 조회 -->
	<select id="selectOneById" resultType="routine" parameterType="int">
		SELECT * FROM Routine
		WHERE id = #{id}
		ORDER BY id ASC;
	</select>
	
	
	<!-- 루틴 등록 -->
	<insert id="createOne" parameterType="Routine" keyProperty="id" useGeneratedKeys="true">
		INSERT IGNORE INTO Routine (fitnessList)
		VALUES (#{fitnessList});
	</insert>
	
</mapper>